[user]
    name = {{ .name | quote }}
    email = {{ .email | quote }}

[pull]
	rebase = true

[alias]
  a = "add ."
  c = commit
  p = push
  s = status -sb
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  m = !"bash -c 'git branch | grep -v 'master' | xargs git branch -D'"
  nah = !"bash -c 'git reset --hard && git clean -df'"
  master = checkout master

[diff "image"]
	command = compare $2 $1 png:- | montage -geometry +4+4 $2 - $1 png:- | display -title \"$1\" -

[commit]
    # Specify template file for new commit messages.
    template = ~/.git-commit-template.txt
    gpgsign = true

[fetch]
    # Remove any remote-tracking references that no longer exist on the remote.
    prune = true

[apply]
    # Detect whitespace errors when applying a patch.
    whitespace = fix

[merge]
    # Include summaries of merged commits in newly created merge commit messages.
    log = true

[init]
    defaultBranch = master
