{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

# Use brew to install dependencies
brew bundle -v --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/core"
tap "homebrew/services"
tap "homebrew/cask-fonts"

cask "google-chrome"                        # Google
cask "firefox"                              # Fox
cask "brave-browser"                        # Brave
cask "docker"
cask "visual-studio-code"
cask "tresorit"
cask "qbittorrent"
cask "iina"
cask "hex-fiend"                            # Hex editor
cask "font-hack-nerd-font"
cask "zoom"                                 # Meetings application
cask "notion"                               # Documentation 
cask "obsidian"                             # Knowledge graph
cask "wireshark"                            # Network analysis
cask "flux"                                 # Blue screen scam (?)
cask "figma"                                # Design
cask "adobe-creative-cloud"                 # Adobe
cask "meetingbar"                           # Calendar aggregation tool
cask "microsoft-office"                     # Excel
cask "slack"                                # Slack
cask "iterm2"                               # Native terminal alternative
cask "vlc"                                  # Old-school media viewer
cask "aerial"                               # Screen saver
cask "google-cloud-sdk"                     # Google cloud SDK
cask "anaconda"                             # Python nvm & deps
cask "gpg-suite-no-mail"                    # GPG
cask "discord"                              # Chat
cask "1password/tap/1password-cli"          # 1Password CLI
{{- if (eq .chezmoi.arch "amd64") -}}
cask "virtualbox"                           # VM
{{ end -}}

brew "spotify"                              # Spotify
brew "coreutils"                            # GNU Core utilities
brew "wget"                                 # Web content downloader
brew "screenfetch"                          # Screenshot information tool
brew "htop"                                 # Interactive system-monitor
brew "telnet"                               # Networking
brew "git"
brew "git-extras"                           # Some extras
brew "gitup"                                # When it is time to merge
brew "tmux"                                 # Terminal mux
brew "docker"
brew "duti"
brew "macvim"
brew "git-lfs"
brew "gpg2"
brew "zlib"                                 # Lossless data-compression library
brew "neofetch"                             # System information tool
brew "wireguard-tools"                      # Wireguard
brew "jq"                                   # Sed for JSON
brew "openssl"                              # OpenSSL
brew "mas"                                  # App Store CLI
brew "nvm"                                  # Node version manager
brew "go"                                   # Golang
brew "mockery"                              # Golang mocks generation
brew "qemu"                                 # Hypervisor
brew "goreleaser"                           # Go releaser
brew "protobuf"                             # Protobuf
brew "rustup"                               # Rust
brew "erlang"                               # Erlang
brew "minikube"                             # Local k8s
brew "llvm"                                 # Compilers

# Infrastructure
brew "packer"                               # VM build
brew "istioctl"                             # Istio
brew "weaveworks/tap/eksctl"                # k8s for EKS
brew "terraform"                            # Terraform
brew "podman"                               # Docker alternative

# App development
cask "android-studio"                       # Android Studio
cask "flutter"                              # Flutter
brew "android-sdk"                          # Android SDK
brew "android-ndk"                          # Android Native SDK
brew "ant"
brew "maven"
brew "gradle"

# ML
brew "vips"
brew "pkgconfig"
brew "cmake"
brew "ffmpeg"
brew "opencv"

EOF

# Install App Store Apps
mas install 937984704   # Amphetamine
mas install 441258766   # Magnet
mas install 904280696   # Things
mas install 497799835   # XCode
mas install 1370791134  # DigiDocgit 
mas install 1055511498  # Day One

# Upgrade App Store Apps
mas upgrade
{{ end -}}
