{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle -v --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/core"
tap "homebrew/services"
tap "homebrew/cask-fonts"

cask "google-chrome"
cask "docker"
cask "visual-studio-code"
cask "tresorit"
cask "qbittorrent"
cask "iina"
cask "font-hack-nerd-font"

brew "asdf"                                 # Extendable version manager
brew "wget"                                 # Web content downloader
brew "screenfetch"                          # Screenshot information tool
brew "htop"                                 # Interactive system-monitor
brew "git"
brew "tmux"
brew "docker"
brew "duti"
brew "macvim"
brew "git-lfs"
brew "gpg2"
brew "zlib"                                 # Lossless data-compression library
brew "neofetch"                             # System information tool
cask "zoom"                                 # Meetings application

EOF
{{ end -}}