{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle -v --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/core"
tap "homebrew/services"
tap "homebrew/cask-fonts"

cask "google-chrome"                        # Google
cask "firefox"                              # Fox
cask "docker"
cask "visual-studio-code"
cask "tresorit"
cask "qbittorrent"
cask "iina"
cask "font-hack-nerd-font"
cask "zoom"                                 # Meetings application
cask "notion"                               # Documentation 
cask "obsidian"                             # Knowledge graph
cask "wireshark"                            # Network analysis
cask "flux"                                 # Blue screen scam (?)
cask "figma"                                # Design
cask "adobe-creative-cloud"                 # Adobe
cask "meetingbar"                           # Calendar aggregation tool
cask "microsoft-office"                     # Excel
{{- if (eq .chezmoi.arch "amd64") -}}
cask "virtualbox"                           # VM
{{ end -}}

brew "asdf"                                 # Runtime versions manager
brew "coreutils"                            # GNU Core utilities
brew "wget"                                 # Web content downloader
brew "screenfetch"                          # Screenshot information tool
brew "htop"                                 # Interactive system-monitor
brew "telnet"                               # Networking
brew "git"
brew "git-extras"                           # Some extras
brew "gitup"                                # When it is time to merge
brew "tmux"
brew "docker"
brew "duti"
brew "macvim"
brew "git-lfs"
brew "gpg2"
brew "zlib"                                 # Lossless data-compression library
brew "neofetch"                             # System information tool

EOF
{{ end -}}