#!/bin/bash -e

{{ if eq .chezmoi.os "darwin" -}}

brew --version || (/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)")
xcode-select --install || echo "XCode CLI tools already installed"

{{ end -}}
