#!/bin/bash -e

{{- if (eq .chezmoi.os "darwin") -}}
# Use brew to install dependencies
brew bundle -v --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/services"
tap "arl/arl"

# Tools
cask "visual-studio-code"
cask "tresorit"
cask "iina"
cask "font-hack-nerd-font"
cask "obsidian"                             # Knowledge graph
cask "wireshark"                            # Network analysis
cask "flux"                                 # Blue screen scam (?)
cask "figma"                                # Design
cask "adobe-creative-cloud"                 # Adobe
cask "meetingbar"                           # Calendar aggregation tool
cask "microsoft-office"                     # Excel
cask "google-cloud-sdk"                     # Google cloud SDK
cask "discord"                              # Chat
cask "1password"                            # 1Password
cask "1password/tap/1password-cli"          # 1Password CLI
cask "qbittorrent"                          # Magic tool
cask "mullvadvpn"                           # VPN
cask "wezterm"                              # Wezterm
cask "firefox"                              # Firefox
cask "podman-desktop"                       # Podman desktop

brew "k9s"                                  # k8s management
brew "dockutil"                             # Tool for managing dock
brew "coreutils"                            # GNU Core utilities
brew "wget"                                 # Web content downloader
brew "btop"                                 # Monitoring
brew "screenfetch"                          # Screenshot information tool
brew "htop"                                 # Interactive system-monitor
brew "telnet"                               # Networking
brew "tmux"                                 # Terminal mux
brew "gitmux"                               # Git mux
brew "git-lfs"                              # LFS for git
brew "duti"
brew "zlib"                                 # Lossless data-compression library
brew "neofetch"                             # System information tool
brew "wireguard-tools"                      # Wireguard
brew "jq"                                   # Sed for JSON
brew "openssl"                              # OpenSSL
brew "mas"                                  # App Store CLI
brew "nvm"                                  # Node version manager
brew "corepack"                             # Corepack
brew "go"                                   # Golang
brew "mockery"                              # Golang mocks generation
brew "protobuf"                             # Protobuf
brew "rust"                                 # Rust
brew "erlang"                               # Erlang
brew "gpg"                                  # GPG
brew "pinentry-mac"                         # GPG
brew "colima"                               # Colima
brew "iperf3"                               # Network performance tool
brew "mtr"                                  # Network jitter
brew "docker-compose"                       # Docker compose
brew "rye"                                  # Python dep manager (fastest)
brew "poetry"                               # Python dep manager

# Java
brew "jenv"                                 # Java version manager
brew "maven"
brew "gradle"

# C++/C
brew "bazelisk"                             # Build tool
brew "gcc"                                  # Compiler
brew "pkgconfig"                            # Library management
brew "cmake"                                # Build tooling
brew "llvm"                                 # Compiler
brew "boost"                                # C++ boost
brew "spdlog"                               # Logger
brew "abseil"                               # Google internal library
brew "googletest"                           # Google test library

# Infrastructure
brew "packer"                               # VM build
brew "istioctl"                             # Istio
brew "weaveworks/tap/eksctl"                # k8s for EKS
brew "terraform"                            # Terraform
brew "podman"                               # Docker alternative

# App development
cask "android-studio"                       # Android Studio
cask "flutter"                              # Flutter
cask "android-commandlinetools"             # CLI tooling
brew "ant"

EOF
{{ end -}}
